.black{
    
    background-color: black;
}

.orange{
    
    background-color: orangered;
}

.yellow{
    
    background-color: rgb(250, 173, 8);
}

.white{
    background-color:white;
}

.row{
    height: 70px;
    margin: 3px;
    
}